# This .gitignore file should be placed at the root of your Unity project directory
#
/[Bb]uild/
*.zip
*.tar.gz
*.rar
Game/CGame/cg_lockcam.c.backup4
Game/CGame/cg_lockcam.c.backup3
Game/CGame/cg_lockcam.c.backup2
Game/CGame/cg_lockcam.c.backup
